* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(185, 207, 214);
    font-size: 14px;
    font-family: 'Genos', sans-serif;
}

div {
    border-radius: 10px;
}

h5 {
    opacity: .8;
}

p {
    opacity: .8;
}

#container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%; 
    display: flex;
}

#leftContainer {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}

#rightContainer {
    flex-basis: 20%;
}

.profile {
    display: flex;
}

.information {
    margin-left: 20px;
}

.name {
    margin: 0;
}

.position {
    margin: 0;
}

.profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 2000px;
}

/* ! Card 1 */

#card-1 {
    width: 62%;
    background-color: rgb(103, 42, 176);
    padding: 20px;
    color: white;
}

/* ! Card 2 */

#card-2 {
    width: 30%;
    margin-left: 3%;
    background-color: rgb(74, 76, 92);
    padding: 20px;
    color: white;
}

/* ! Card 3 */

#card-3 {
    padding: 20px;
    width: 30%;
    background-color: white;
    margin-top: 20px;
}

/* ! Card 4 */

#card-4 {
    padding: 20px;
    margin-left: 3%;
    width: 62%;
    background-color: rgb(34, 34, 34);
    margin-top: 20px;
    color: white;
}

/* ! Card 5 */

#card-5 {
    padding: 20px;
    background-color: white;
    height: 100%;
}



@media (max-width: 1000px) {
    #container {
        flex-direction: column;
    }
    #card-1, #card-2, #card-3, #card-4 {
        width: 100%;
    }
    #card-2 {
        margin-left: 0;
        margin-top: 20px;
    }
    #card-4 {
        margin-left: 0;
    }
    #card-5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
